<form class="layui-form" id="test1" lay-filter="test1">
  <div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">经销商描述</label>
        <div class="layui-input-inline">
          <input type="text" name="queryBusinessDesc" ng-model="queryBusinessDesc" placeholder="请输入经销商描述" autocomplete="off" class="layui-input">
        </div>
      <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
      <button class="layui-btn" ng-click="search()" >搜索</button>
    </div>
  </div>
</form>
<table class="layui-hide" id="test" lay-filter="test"></table>
<div class="layui-row" id="dialog" style="display:none;">
  <br/>
  <form class="layui-form" lay-filter="example">

    <div class="layui-form-item">
      <label class="layui-form-label">经销商描述</label>
      <div class="layui-input-inline" style="width: 250px;">
        <input type="text" name="businessDesc" id="businessDesc" lay-verify="required"
               placeholder="请输入经销商描述"
               autocomplete="off"
               class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">经销商管理员</label>
      <div class="layui-input-inline" style="width: 250px;">
        <select name="businessOperator" id="businessOperator" lay-filter="test" lay-verify="required">
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">经销商电话</label>
      <div class="layui-input-inline" style="width: 250px;">
        <input type="text" name="businessPhone" id="businessPhone"
               placeholder="请输入经销商电话"
               autocomplete="off"
               class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-inline" style="width: 250px;">
        <input type="text" name="remark" id="remark"
               placeholder="请输入备注"
               autocomplete="off"
               class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button type="submit" class="layui-btn" lay-submit lay-filter="formBusinessInfo">提交</button>
      </div>
    </div>
  </form>
</div>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


