<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <link rel="icon" href="image/favicon.ico">
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.min.js"></script>
    <script src="angular/angular-sanitize.js"></script>
    <script src="layui/layui.js"></script>
    <script src="js/index.js"></script>
    <script src="js/main-service.js"></script>
    <script src="js/main-route.js"></script>
    <script src="js/main-filter.js"></script>
    <script src="js/commonservice.js"></script>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin" ng-app="myApp"  ng-controller="parentController" ng-init="getUser()">
    <div class="layui-header">
        <div class="layui-logo">silence 后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="image/touxiang.png" class="layui-nav-img">
                    {{user.nickname}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="" ng-click="modifyPassword()">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" ng-repeat="menu in menus">
                    <a href="javascript:;">{{menu.name}}</a>
                    <dl class="layui-nav-child" ng-repeat="data in menu.list">
                        <dd><a href="{{'#!'+data.url}}">{{data.name}}</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" ng-view></div>
    </div>

    <div class="layui-footer" style="text-align: center">
        <!-- 底部固定区域 -->
        © silence.com - 版权所有
    </div>

</div>
<!--修改密码弹出框-->
<div class="layui-row" id="passwdDialog" style="display:none;">
    <br/>
    <form class="layui-form" lay-filter="passwdExample">
        <div class="layui-form-item">
            <label class="layui-form-label">原始密码</label>
            <div class="layui-input-inline" style="width: 250px;">
                <input type="password" name="oldPassword" id="oldPassword" lay-verify="required"
                       placeholder="请输入原始密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline" style="width: 250px;">
                <input type="password" name="password" id="password" lay-verify="required"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline" style="width: 250px;">
                <input type="password" name="reqPassword" id="reqPassword" lay-verify="required"
                       placeholder="请再次输入密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="formPasswd" >提交</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>