<form class="layui-form" id="test1" lay-filter="test1">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">任务描述:</label>
      <div class="layui-input-inline">
        <input type="text" name="queryJobDesc" id="queryJobDesc" ng-model="queryJobDesc" placeholder="请输入任务描述"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
      <button class="layui-btn" ng-click="search()" >搜索</button>
    </div>
  </div>

</form>
<table class="layui-hide" id="test" lay-filter="test"></table>
<div class="layui-row" id="dialog" style="display:none;">
  <br/>
  <form class="layui-form" lay-filter="example">

    <div class="layui-form-item">
      <label class="layui-form-label">自动化测试任务描述</label>
      <div class="layui-input-inline" style="width: 250px;">
        <input type="text" name="jobDesc" id="testCaseDesc" lay-verify="required"
               placeholder="请输入自动化测试任务描述"
               autocomplete="off"
               class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">自动运行标志</label>
      <div class="layui-input-inline" style="width: 250px;">
        <select name="enableAutoFlag" id="enableAutoFlag" lay-filter="test" lay-verify="required">
          <option value="">请选择</option>
          <option value="Y">是</option>
          <option value="N">否</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <button type="submit" class="layui-btn" lay-submit lay-filter="formAutoTestJob" >提交</button>
      </div>
    </div>
  </form>
</div>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="run">运行</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


