<form class="layui-form" id="test1" lay-filter="test1">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">交易码:</label>
            <div class="layui-input-inline">
                <input type="text" name="queryTranCode" id="queryTranCode" ng-model="queryTranCode" placeholder="请输入交易码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            <button class="layui-btn" ng-click="search()" >搜索</button>
        </div>
    </div>

</form>
<table class="layui-hide" id="test" lay-filter="test"></table>
<div class="layui-row" id="dialog" style="display:none;">
    <br/>
    <form class="layui-form" lay-filter="example">

        <div class="layui-form-item">
            <label class="layui-form-label">交易码</label>
            <div class="layui-input-inline" style="width: 250px;">
                <input type="text" name="tranCode" id="tranCode" lay-verify="required"
                       placeholder="请输入交易码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
      <div class="layui-form-item">
        <label class="layui-form-label">交易描述</label>
        <div class="layui-input-inline" style="width: 250px;">
          <input type="text" name="tranDesc" id="tranDesc" lay-verify="required"
                 placeholder="请输入交易码"
                 autocomplete="off"
                 class="layui-input">
        </div>
      </div>
        <div class="layui-form-item">
            <label class="layui-form-label">场景名称</label>
            <div class="layui-input-inline" style="width: 250px;">
                <input type="text" name="sceneDesc" id="sceneDesc" lay-verify="required"
                       placeholder="请输入场景名称"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
      <div class="layui-form-item">
        <label class="layui-form-label">场景类型</label>
        <div class="layui-input-inline" style="width: 230px;">
          <select name="sceneType" id="sceneType" lay-filter="test" lay-verify="required">
            <option value="">请选择</option>
            <option value="OLTP_TYPE">交易接口类型</option>
            <option value="BATCH_TYPE">批处理接口类型</option>
            <option value="CHECK_TYPE">查证结果类型</option>
            <option value="UPDATE_TYPE">更新数据类型</option>
          </select>
        </div>
      </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请求报文</label>
            <div class="layui-input-block">
                <textarea name="sceneValue" id="sceneValue" lay-verify="required" placeholder="请输入请求报文" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="formInterfaceScene" >提交</button>
            </div>
        </div>
    </form>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


