<form class="layui-form" id="test1" lay-filter="test1">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">挡板URL:</label>
            <div class="layui-input-inline">
                <input type="text" name="url" id="url" ng-model="url" placeholder="请输入挡板URL" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">挡板名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" ng-model="name" placeholder="请输入挡板名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">挡板模块:</label>
            <div class="layui-input-block">
                <select name="module" id="module" >
                    <option value="">请选择</option>
                    <option value="CL">贷款</option>
                    <option value="RB">存款</option>
                    <option value="OB">公共</option>
                </select>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <div class="layui-inline">
                <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
                <button class="layui-btn" ng-click="search()" >搜索</button>
            </div>
        </div>
    </div>

</form>
<table class="layui-hide" id="test" lay-filter="test"></table>
<div class="layui-row" id="dialog" style="display:none;">
    <br/>
    <form class="layui-form" lay-filter="example">

        <div class="layui-form-item">
            <label class="layui-form-label">挡板URL</label>
            <div class="layui-input-inline" style="width: 250px;">
                <input type="text" name="mockUrl" id="mockUrl" lay-verify="required"
                       placeholder="请输入挡板URL"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">挡板名称</label>
            <div class="layui-input-inline" style="width: 250px;">
                <input type="text" name="mockName" id="mockName" lay-verify="required"
                       placeholder="请输入挡板名称"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">挡板模块</label>
            <div class="layui-input-inline" style="width: 230px;">
                <select name="mockModule" id="mockModule" lay-filter="test" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="CL">贷款</option>
                    <option value="RB">存款</option>
                    <option value="OB">公共</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">挡板入参</label>
            <div class="layui-input-block">
                <textarea name="mockInput" id="mockInput" lay-verify="required" placeholder="请输入挡板入参" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">挡板出参</label>
            <div class="layui-input-block">
                <textarea name="mockOutput" id="mockOutput" lay-verify="required" placeholder="请输入挡板出参" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="formMock" >提交</button>
            </div>
        </div>
    </form>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


