<form class="layui-form" id="test1" lay-filter="test1">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">分隔符</label>
            <div class="layui-input-inline">
                <input type="text" name="separator" ng-model="separator" placeholder="请输入分隔符" autocomplete="off"
                       class="layui-input">
            </div>
            <button type="button" class="layui-btn" id="uploadHead">
                <i class="layui-icon">&#xe67c;</i>上传文件模板
            </button>
            <button type="button" class="layui-btn" id="uploadBody">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">查询条件名称</label>
            <div class="layui-input-inline">
                <input type="text" name="queryName" ng-model="queryName" placeholder="请输入查询名称" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-input-inline">
                <input type="text" name="queryValue" ng-model="queryValue" placeholder="请输入查询值" autocomplete="off"
                       class="layui-input">
            </div>
            <button class="layui-btn" ng-click="search()">查询</button>
            <button class="layui-btn" ng-click="downloadFile()">下载</button>
        </div>
    </div>
</form>
<div class="layui-progress layui-progress-big" lay-filter="demo" lay-showPercent="true">
    <div class="layui-progress-bar" lay-percent="0%"></div>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


